@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf') format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Avenir', Helvetica, sans-serif;

}

header {
    top: 0px;

    width: 100%;
    height: 100px;
    background: white;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

.enlace {
    position: absolute;
    padding: 50px;
    margin-left: 20px;
    margin-top: -20px;
}

.logo {
    width: 150px;
    height: auto;
    margin-top: -5%;

}

.text_logo_1 {
    width: 100px;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 60px;
    margin-top: -40px;

}

.text_logo {

    margin-left: 80px;
    width: 50px;
    height: auto;
    font-size: 10px;
    font-family: 'Avenir', Helvetica, sans-serif;
    text-align: center;

}

header ul {

    margin-left: 250px;
    margin-top: -0px;
}

header ul li {
    display: inline-block;
    line-height: 100px;
    margin: 0 10px;
}

header ul li a {

    text-align: left;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 26;
    color: #11183A;
    text-transform: uppercase;
    opacity: 1;
}

header ul li a:hover {
    text-decoration: none;
    color: #14CED6;

}

.active {
    text-decoration: none;
    color: #14CED6;

}

.ul2 {
    float: right;
    margin-right: 50px;
    text-decoration: none;

    margin-top: -99px;
}

.agendar a:hover {
    background-color: #FFAA29;
    color: black;
}

.checkbtn {
    font-size: 50px;
    float: right;
    line-height: 80px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

.check {
    display: none;
}

.container-slider {
    width: 100%;
    max-width: 1792px;
    margin: auto;
    overflow: hidden;
    position: relative;

}

.slider-btn {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255, 0.50);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.slider-right {
    right: 10px;
}

.slider-left {
    left: 10px;
}

.slider {
    width: 200%;
    height: 500px;
    display: flex;
}

.slider-section {
    width: 100%;
}

.slider-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo {
    width: 180px;
}

.tittle {
    color: white;
    position: absolute;
    width: 600px;
    font-size: 49px;
    text-align: left;
    margin-left: 180px;
    margin-top: 140px;

}

.subtitulo {
    width: 180px;
}

.subtittle {
    position: absolute;
    color: #ffff;
    width: 400px;
    margin-left: 180px;
    margin-top: 280px;

}

.orange {
    background-color: #FFAA22;
    border-radius: 3px;
    border: 1px solid #FFAA22;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 33px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #FFAA22;
    position: absolute;
    margin-left: 180px;
    margin-top: 370px;
}

.blue {
    background-color: #11183A;
    border-radius: 3px;
    border: 1px solid #11183A;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 33px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #11183A;
    position: absolute;
    margin-left: 390px;
    margin-top: 370px;
}

.wpp {
    float: right;
    margin-right: 90px;
    font-size: 40px;
    background-color: #FFAA22;
    border-radius: 20%;
}

.container-2 {
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 0px 0px;
    grid-auto-flow: row;
    margin-top: 40px;
}

.sustraccion {
    width: 412px;
    margin-left: 180px;
}

.construccion {
    color: #C76446;
    margin-left: 180px;
    margin-top: 80px;
}

.p-info {
    margin-left: 180px;
    margin-top: 20px;
}

.conocer {
    background-color: #FFAA22;
    border-radius: 3px;
    border: 1px solid #FFAA22;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 8px;
    font-weight: bold;
    padding: 12px 33px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #FFAA22;
    position: absolute;
    margin-left: 180px;
    margin-top: 20px;

}

.ver {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    font-size: 8px;
    font-weight: bold;
    padding: 12px 27px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #000000;
    margin-left: 400px;
    margin-top: 20px;
}

.container3 {
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 0px 0px;
    grid-auto-flow: row;
    margin-top: 40px;
}

.procesos {
    color: #C76446;
    margin-left: 180px;
    margin-top: 80px;
}

.p-info-2 {
    margin-left: 180px;
    margin-top: 20px;
}

.linea>h2 {
    color: #2B478E;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}

.linea>h3 {
    color: black;
    text-align: center;
    margin-top: 10px;
}

.container-4 {
    display: grid;
    grid-template-columns: 370px 370px 370px 370px;
    gap: 0px 0px;
}

.rectangulo,
.cuadrado,
.rectangular-2,
.macizo {
    box-shadow: 17px 23px 0px -14px rgba(130, 130, 130, 0.69);
    -webkit-box-shadow: 17px 23px 0px -14px rgba(130, 130, 130, 0.69);
    -moz-box-shadow: 17px 23px 0px -14px rgba(130, 130, 130, 0.69);
    margin-left: 50px;
    padding-right: 20px;
    margin-top: 50px;
}

.info_box1 {
    color: #00B3B0;
}

.ver_mas {
    background-color: #FFAA22;
    border-radius: 3px;
    border: 1px solid #FFAA22;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 8px;
    font-weight: bold;
    padding: 12px 33px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #FFAA22;

}

.todos {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    font-size: 8px;
    font-weight: bold;
    padding: 12px 27px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #000000;
    margin-left: 659px;
    margin-top: 40px;
}

.container-video {
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 0px 0px;
    grid-auto-flow: row;
    margin-top: 40px;
}

.banner {
    width: 200%;
    margin-left: 200px;
}

.texto_capacidad {
    width: 700px;
}

.capacidad {
    position: absolute;
    color: #ffffff;
    margin-left: 300px;
    width: 280px;
    margin-top: 100px;
    font-size: 30px;
}

.quiero {
    position: absolute;
    color: #00B3B0;
    margin-left: 300px;
    width: 280px;
    margin-top: 250px;

}

.profesional {
    position: absolute;
    height: 47%;
    margin-left: 800px;
    margin-top: -30px;
}

.clientes>h2 {
    margin-top: 360px;
    color: #C76446;
}

.clientes>h3 {
    margin-left: -300px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;

}

.container-clientes {
    display: grid;
    grid-template-columns: 190px 190px 190px 190px 190px 190px 190px 190px;
    gap: 0px 0px;
    margin-top: 20px;
}

.lista-clientes>li {
    display: inline-block;
    font-size: 42px;
    margin-left: 30px;
    margin-top: 140px;
}

.activo {
    color: #FFAA22;
}

.li-clientes {
    color: #CCCCCC;
}

.container-blog-text {
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 0px 0px;

}

.container-blog {
    display: grid;
    grid-template-columns: 370px 370px 370px 370px;
    gap: 0px 0px;
}


.blog {
    color: #375FAF;
    margin-left: 110px;
}

.entradas>img {
    width: 80%;
    box-shadow: 10px 11px 10px 0px rgba(225, 225, 225, 0.9);
    -webkit-box-shadow: 10px 11px 10px 0px rgba(225, 225, 225, 0.9);
    -moz-box-shadow: 10px 11px 10px 0px rgba(225, 225, 225, 0.9);
}

.ir-a {
    width: 80px;
    color: #375FAF;
    margin-left: 700px;
    text-decoration: underline;
    cursor: pointer;
}

.entradas {
    margin-top: 90px;
    margin-left: 90px;

}

.categoria4,
.categoria1,
.categoria2,
.categoria3 {
    position: absolute;
    margin-left: 138px;
    color: white;
}

.categoria4,
.categoria1 {
    background-color: #00B3B0;
}

.categoria3 {
    background-color: #C76446;
}

.categoria2 {
    background-color: #375FAF;
}

.entradas>h5 {
    font-size: 10px;
    width: 250px;
}

.entradas>p {
    color: #00B3B0;
    margin-top: 10px;
    cursor: pointer;
}

.section3 {
    text-align: center;
    width: 1200px;
    margin-left: 120px;
    margin-top: 120px;
}

.kreato>h2 {
    color: #C76446;
}

.kreato>h3 {
    margin-top: 10px;
    font-weight: lighter;
}

.container-frecuentes {
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 0px 0px;
    margin-top: 70px;
}

.preguntas>li {
    margin-top: 20px;
    margin-left: 120px;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border: 4px solid #F5F5F5;
    background-color: #F5F5F5;
    height: 40px;
    width: 600px;
    cursor: pointer;
}

.li-activo {
    font-weight: bold;

    -webkit-box-shadow: 2px 1px 0px 0px rgba(0, 179, 176, 1);
    -moz-box-shadow: 2px 1px 0px 0px rgba(0, 179, 176, 1);
    box-shadow: 2px 1px 0px 0px rgba(0, 179, 176, 1);

}

.preguntas-img>img {
    margin-left: 25%;
    width: 100%;
    height: 83%;
}

.text-preguntas {
    background-color: #11183A;
    position: absolute;
    width: 600px;
    margin-top: 19.9%;
    font-size: 14px;
    margin-left: 10%;
    text-align: left;
}

.text-preguntas>h3 {
    text-align: justify;
    padding-left: 33px;
    padding-right: 33px;
    color: white;
}

.galeria {
    margin-left: 7%;
    display: grid;

    grid-template-rows: 250px 250px;
    grid-template-columns: 180px 180px 180px 180px 180px 180px 180px 180px;

    gap: 0px;
    height: 400px;
    width: 400px;
}

#item-0>img {
    width: 95%;
    height: 97%;
    object-fit: cover;

}

#item-1>img {
    width: 95%;
    height: 95%;
    object-fit: cover;
}


#item-2>img {
    width: 95%;
    height: 95%;
    object-fit: cover;

}

#item-3>img {
    width: 95%;
    height: 95%;
    object-fit: cover;

}

#item-4>img {
    width: 95%;
    height: 95%;
    object-fit: cover;

}

#item-5>img {
    width: 95%;
    height: 97%;
    object-fit: cover;

}

#item-6>img {
    width: 100%;
    height: 95%;
    object-fit: cover;

}

#item-7>img {
    width: 100%;
    height: 95%;
    object-fit: cover;

}

#item-0 {

    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 3;

}

#item-1 {

    grid-row-start: 1;
    grid-column-start: 3;

    grid-row-end: 2;
    grid-column-end: 4;

}

#item-2 {

    grid-row-start: 2;
    grid-column-start: 3;

    grid-row-end: 3;
    grid-column-end: 5;

}

#item-3 {

    grid-row-start: 1;
    grid-column-start: 4;

    grid-row-end: 2;
    grid-column-end: 6;

}

#item-4 {

    grid-row-start: 2;
    grid-column-start: 5;

    grid-row-end: 3;
    grid-column-end: 6;

}

#item-5 {

    grid-row-start: 1;
    grid-column-start: 6;

    grid-row-end: 3;
    grid-column-end: 8;

}

#item-6 {

    grid-row-start: 1;
    grid-column-start: 8;

    grid-row-end: 2;
    grid-column-end: 9;

}

#item-7 {

    grid-row-start: 2;
    grid-column-start: 8;

    grid-row-end: 3;
    grid-column-end: 9;

}

.container-footer * {
    background-color: #11183A;

}

.footer {
    margin-top: 20%;
    display: grid;
    grid-template-columns: 304px 304px 304px 304px 304px;
    gap: 0px 0px;
}
.footer-logo{
    padding-left: 30%;
}

.footer-logo>p{
    
}
.footer-productos {
    padding-left: 70%;

}
.footer-contacto{
    padding-left: 30%;
}
.footer-nosotros{
    padding-left: 40%;
}

.footer-productos,
.footer-nosotros,
.footer-contacto,
.footer-blog {
    height: 300px;
    padding-top: 60px;

}

.logo-footer {
    width: 200px;
    margin-top: 20%;
}